<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCM || Collection</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
  <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="template-color-1">
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>

  <%- include('sections/header.ejs') -%>

  <div class="collection-hero">
    <img src="<%= collection_banner%>" alt="">
  </div>

  <div class="rn-author-area mt_dec--120">
    <div class="container">
      <div class="row padding-tb-50 align-items-center d-flex">
        <div class="col-lg-12">
          <div class="author-wrapper">
            <div class="author-inner">
              <div class="user-thumbnail">
                <img src="<%= collection_logo %>" alt="Collection Logo" onerror="this.src='assets/images/icons/unknown-user.png'">
              </div>
              <div class="rn-author-info-content">
                <h4 class="title"> <%= collectionDetails.displayName%> </h4>
                <div class="follow-area">
                  <div class="follow followers">
                    <span><%=items%> <a class="color-body">Items</a></span>
                  </div>
                  <div class="follow following">
                    <%const formatter = Intl.NumberFormat('en', {notation:'compact'});%>
                    <span><%=formatter.format(floor)%> XRP <a class="color-body">Lowest Offer</a></span>
                  </div>
                </div>
                <div class="social-follow">
                  <span><%=collectionDetails.description%></span>
                </div>
                <%if (collectionDetails.twitterHandle) {%>
                <a href="https://twitter.com/<%=collectionDetails.twitterHandle%>" target="_blank" class="social-follow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                  <span class="user-name">@<%=collectionDetails.twitterHandle%></span>
                </a>
                <%}%>
                <%if (wallet == collectionDetails.issuer) {%>
                <div>
                  <div class="follow following">
                    <span><a class="color-body">collection Views: </a><%=collectionDetails.views%></span>
                  </div>
                </div>
                <%}%>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="tab-wrapper-one">
            <nav class="tab-button-one">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#pane-listed-nfts" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Listed</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#pane-unlisted-nfts" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Un-Listed</button>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pane-listed-nfts" class="tab-pane fade active show" aria-labelledby="nav-listed-tab" role="tabpanel">
    <div class="rn-product-area rn-section-gapTop">
      <div class="container"> 
        <div class="row g-5 mt_dec--30">
            <%- include ("models/nft-rows.ejs", {nfts: nfts}) %>
              </div>
            </div>
          </div>
        </div>
        <div id="pane-unlisted-nfts" class="tab-pane fade" aria-labelledby="nav-unlisted-tab" role="tabpanel">
          <div class="rn-product-area rn-section-gapTop">
            <div class="container">
              <div class="row g-5 mt_dec--30">
                <%- include ("models/unlisted-collection-nft-rows.ejs", {unlistedNfts: unlistedNfts, login: login}) %>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal require -->
        <%- include('sections/popup-modal.ejs') -%>



        <%- include('sections/footer.ejs') -%>

        <!-- Start Top To Bottom Area  -->
        <div class="rn-progress-parent">
          <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
          </svg>
        </div>
        <!-- End Top To Bottom Area  -->
        <!-- JS ============================================ -->
        <!-- <script src="assets/js/vendor/jquery.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
        <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
        <script src="assets/js/vendor/jquery-ui.js"></script>
        <script src="assets/js/vendor/modernizer.min.js"></script>
        <script src="assets/js/vendor/feather.min.js"></script>
        <script src="assets/js/vendor/slick.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/vendor/sal.min.js"></script>
        <script src="assets/js/vendor/waypoint.js"></script>
        <script src="assets/js/vendor/wow.js"></script>
        <script src="assets/js/vendor/particles.js"></script>
        <script src="assets/js/vendor/jquery.style.swicher.js"></script>
        <script src="assets/js/vendor/js.cookie.js"></script>
        <script src="assets/js/vendor/count-down.js"></script>
        <script src="assets/js/vendor/counter-up.js"></script>
        <script src="assets/js/vendor/isotop.js"></script>
        <script src="assets/js/vendor/imageloaded.js"></script>
        <script src="assets/js/vendor/backtoTop.js"></script>
        <script src="assets/js/vendor/scrolltrigger.js"></script>
        <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
        <script src="assets/js/vendor/savePopup.js"></script>
        <script src="assets/js/vendor/jquery.endless-scroll.js"></script>
        <!-- main JS -->
        <script src="assets/js/main.js"></script>
        <script>
          var iteration = 1;
          var marker = 1;
          $('#fetchCollection').on('click', function() {

          });
          $(window).data('getReady', true).on('scroll', function(e) {
            if ($(window).data('getReady') == false) return;

            if (($(".row.g-5").offset().top + $(".row.g-5").height() - $(window).height()) < $(this).scrollTop()) {
              $(window).data('getReady', false);
              $.get(`<%=url%>/get-additional-collection-nfts?family=<%=collectionDetails.family%>&issuer=<%=collectionDetails.issuer%>&marker=${marker}&markerIteration=${iteration}`,
                function(data) {
                  iteration++;
                  var updateNfts = [];
                  $("#exploreSection").append(data[0])
                  marker = data[1]
                  const cardsUnlisted = document.getElementById("exploreSection").querySelectorAll(".col-5");
                  cardsUnlisted.forEach(element => {
                    element.classList.add("sal-animate")
                  });
                  $(window).data('getReady', true);
                }
              )

            }
          })
        </script>
</body>

</html>