<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCM || Product Details</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Cache-control" content="public">

  <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">
  <%- include('functions.ejs')%>

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="template-color-1">
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>

  <!--PHP Header call-->
  <%- include('sections/header.ejs') -%>

  <!-- start page title area -->
  <div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <h5 class="title text-center text-md-start">Product Details</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="breadcrumb-list">
            <li class="item"><a href="/">Home</a></li>
            <li class="separator"><i class="feather-chevron-right"></i></li>
            <li class="item current">Product Details</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title area -->

  <!-- start product details area -->
  <div class="product-details-area rn-section-gapTop">
    <div class="container">
      <div class="row g-5">
        <!-- product image area -->

        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="product-tab-wrapper rbt-sticky-top-adjust">
            <div class="pd-tab-inner">


              <div class="tab-content rn-pd-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <% if (nft.verified.status){%>
                    <img src="assets/images/icons/verified.png" class="verified" alt="verified collection" loading="lazy">
                    <%}%>
                    <% if (nft.stakable.status) {%>
                    <img src="assets/images/icons/staykx.png" class="stakeable" alt="stakeable collection" loading="lazy">
                    <%}%>
                  <div class="rn-pd-thumbnail">
                    <%var imageExt = new Set(['image/jpg', 'image/jpeg', 'image/png', 'image/gif']); var vidExt = new Set(['video/mp4', 'video/mov', 'video/avi', 'video/webm', 'video/mpg', 'video/wmv']);%>
                    <% if (imageExt.has(nft.fileType)) { %>
                      <img src="<%=nft.httpsImage%> " alt="Nft_Profile">
                    <!-- JPG/JPEG/PNG/GIF -->
                    <% } else if (vidExt.has(nft.fileType)) { %>
                      <video controls autoplay loop>
                        <source src="<%=nft.httpsImage%>" type="video/mp4">
                        <source src="<%=nft.httpsImage%>" type="video/webm">
                        <source src="<%=nft.httpsImage%>" type="video/ogg">
                      </video>
                    <% } else {%>
                      <img src="<%=nft.httpsImage%>" alt="NFT image">
                    <%};%>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- product image area end -->

        <div class="col-lg-5 col-md-12 col-sm-12 mt_md--50 mt_sm--60">
          <div class="rn-pd-content-area">
            <div class="pd-title-area">
              <h4 class="title"><%=nft.uriMetadata.name%></h4>
              <div class="pd-react-area">

                <div class="heart-count <% if (login && nftLiked()) __append('liked')%>" <%if(login) {%>onclick="likeHandler('<%=nft.tokenID%>', this)" <%}%>>
                  <i data-feather="heart"></i>
                  <span><%=nft.likes.length%></span>
                </div>
                <div class="count">
                  <div class="share-btn share-btn-activation dropdown">
                    <button class="icon-fix" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
                      </svg>
                    </button>

                    <div class="share-btn-setting dropdown-menu dropdown-menu-end">
                      <!-- <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
                        Share
                      </button> -->
                      <button type="button" class="btn-setting-text report-text" data-bs-toggle="modal" data-bs-target="#reportModal">
                        Report
                      </button>
                      <input type="hidden" class="token-id" value="<%=nft.tokenID%>">
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <span class="bid">Highest Bid: <span class="price"><%- nft.buyOffers[0] ? nft.buyOffers[0].xrpValue + " XRP": "No bids"%></span></span>
            <h6 class="title-name">
              <%=nft.uriMetadata.collection.family%>
            </h6>
            <div class="catagory-collection">

              <div class="collection">
                <span class="title-name">Collection</span>
                <div class="top-seller-inner-one">
                  <div class="top-seller-wrapper">
                    <%if (nft.uriMetadata.collection.name == null) {%>
                      <div class="top-seller-content">
                        <h6>No Collection</h6>
                      </div>
                    <%} else {%>
                    <div class="thumbnail">
                      <!-- a tag should link to collection of the respective NFT collection associated with that image -->
                        <a href="collection?name=<%=nft.uriMetadata.collection.name.toLowerCase().replace(' ', '_')%>&issuer=<%=nft.issuer%>&page=0"><img src="<%=collection_logo%> " alt="Nft_Profile"></a>
                    </div>
                    <div class="top-seller-content">
                      <a href="collection?name=<%=nft.uriMetadata.collection.name.toLowerCase().replace(' ', '_')%>&issuer=<%=nft.issuer%>&page=0">
                        <h6 class="name"><%=nft.uriMetadata.collection.name%></h6>
                      </a>
                    </div>
                    <%};%>
                  </div>
                </div>
              </div>
            </div>
            <div class="rn-bid-details">
              <div class="tab-wrapper-one">
                <nav class="tab-button-one">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Offers</button>
                    <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Details</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Purchase History</button>
                  </div>
                </nav>
                <div class="tab-content rn-bid-content" id="nav-tabContent">
                  <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h6 id="buyOffers" class="title name-title mr--10 transition">Buy Offers</h6>
                    <div id="buy-offer-container">
                      <div class="offers-slice">
                        <div class="offers-wrap">
                          <div class="offers-content">
                            <h5>Loading...</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h6 id="sellOffers" class="title name-title mr--10 mt--20 transition">Sell Offers</h6>
                    <div id="sell-offer-container">
                      <div class="offers-slice">
                        <div class="offers-wrap">
                          <div class="offers-content">
                            <h5>Loading...</h5>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <!-- single -->
                    <div class="rn-pd-bd-wrapper">
                      <%if (nft.flags.burnable == true || nft.flags.transferable == false) {%>
                      <div class="top-seller-inner-one">
                        <h6 class="name-title">Flags</h6>
                        <div class="flag-alerts">
                          <%if (nft.flags.burnable) {%>
                          <div class="flag-wrap">
                            <h6>Burnable</h6>
                            <p>The issuer can burn this NFT whenever they want</p>
                          </div>
                          <%}%>
                          <%if (!nft.flags.transferable) {%>
                          <div class="flag-wrap">
                            <h6>Transferable</h6>
                            <p>This NFT can only be sold the to issuer</p>
                          </div>
                          <%}%>
                        </div>
                      </div>
                      <%}%>
                      <% if (nft.stakable.status) {%>
                        <div class="top-seller-inner-one">
                          <h6 class="name-title">Staking Weight</h6>
                          <p><%=nft.stakable.value%></p>
                        </div>
                      <%}%>
                      <div class="top-seller-inner-one">
                        <h6 class="name-title">Owner</h6>
                        <div class="top-seller-wrapper">
                          <div id="profile-thumbnail-container"></div>

                          <div class="top-seller-content">
                            <!-- make link to issuer collection page on Marketplace if it exists -->
                            <a href="" id="owner-name">
                              <div class="loader-content"></div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="top-seller-inner-one">
                        <!-- <p class="disc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                                    elit. Doloribus debitis nemo deserunt.</p> -->
                        <h6 class="name-title">
                          Issuer
                        </h6>
                        <div class="top-seller-wrapper">

                          <div class="top-seller-content">
                            <!-- make link to issuer collection page on Marketplace if it exists -->
                            <a href="/profile?wallet=<%=nft.issuer%>">
                              <h6 class="name"><%=nft.issuer%></h6>
                            </a>
                          </div>
                        </div>
                        <div class="top-seller-inner-one">
                          <h6 class="name-title">Royalties</h6>
                          <%if (nft.transferFee !== 0 && nft.transferFee !== undefined) {%>
                            <p><%=nft.transferFee%>%</p>
                          <%} else {%>
                            <p>No Transfer Fee</p>
                          <%}%>
                        </div>
                        <!-- single -->
                        <div class="rn-pd-sm-property-wrapper">
                          <h6 class="pd-property-title">
                            Property
                          </h6>
                          <div class="property-wrapper" id="property">
                            <% nft.uriMetadata.attributes.forEach(function(res){%>
                            <!-- single property -->
                            <div class="pd-property-inner">
                              <span class="color-white type"><%=res.trait_type%></span>
                              <span class="color-white value"><%=res.value%></span>
                            </div>
                            <!-- single property End -->
                            <%}); %>

                          </div>
                        </div>
                        <!-- single -->
                        <div class="top-seller-content">
                          <h6 class="pd-property-title">
                            Description
                          </h6>
                          <div class="pd-property-inner">
                            <p style="font-size: 15px;"><%= nft.uriMetadata.description %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Previous Owners area -->
                  </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <h6>Purchase History</h6>
                    <div class="nft-sale-history-section">
                      <% nft.sellHistory.forEach(function(res){%>
                      <div class="nft-sale-history-wrap">
                        <div class="nft-sale-history-content">
                          <h5><%=res.price + " " + res.token%></h5>
                          <p style="margin-top: -5px;"><%=res.xrpValue%> XRP</p>
                          <span><%=res.account ? res.account : "couldn't find an account"%></span>
                        </div>
                        <div class="nft-sale-history-content">
                          <a href="https://xls20.bithomp.com/explorer/<%= res.txID %> " target="_blank">View Transaction</a>
                          <p><%=(new Date(res.date)).toLocaleDateString('en-au');%></p>
                        </div>
                      </div>
                      <%}); %>
                    </div>
                  </div>
                </div>
                <div class="place-bet-area">
                  <div class="rn-bet-create">
                    <div class="bid-list winning-bid">
                      <h5 class="title">Last Sale</h5>
                      <div class="top-seller-inner-one">
                        <div class="top-seller-wrapper">
                          <div class="top-seller-content">
                            <!-- <span class="heighest-bid"><a href="https://xls20.bithomp.com/explorer/%= nft.sellHistory[0].account %>">%= nft.sellHistory[0] ? nft.sellHistory[0].account : "account" %></a></span> -->
                            <span class="count-number">
                              <%- nft.sellHistory[0] ? nft.sellHistory[0].price + " " + nft.sellHistory[0].token : "No Sale History"%>
                              <%#- account  %>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- <a class="btn btn-primary-alta mt--30" href="#">Place a Bid</a> -->
                  <div id="buy-offer-btn-container"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End product details area -->


    <!-- New items Start -->
    <div class="rn-new-items rn-section-gapTop">
      <div class="container">
        <div class="row mb--30 align-items-center">
          <div class="col-12">
            <h3 class="title mb--0" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">More Items</h3>
          </div>
        </div>
        <%- include('models/nft-rows.ejs', {nfts: nfts})  %>
      </div>
    </div>
    <!-- New items End -->
    <!-- Modal require -->
    <%- include('sections/popup-modal.ejs') -%>
    <%if (!isOwner){%>
      <%- include('models/product-details/buy-modal.ejs') %>    
    <%} else if (isOwner) {%>
      <%- include('models/product-details/sell-modal.ejs') %>
    <% };%>
    <!-- PHP footer call -->
    <%- include('sections/popup-modal.ejs') -%>
    <%- include('sections/footer.ejs') -%>

    <!-- Start Top To Bottom Area  -->
    <div class="rn-progress-parent">
      <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- End Top To Bottom Area  -->
    <!-- JS ============================================ -->
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.js"></script>
    <script src="assets/js/vendor/modernizer.min.js"></script>
    <script src="assets/js/vendor/feather.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/sal.min.js"></script>
    <script src="assets/js/vendor/waypoint.js"></script>
    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/particles.js"></script>
    <script src="assets/js/vendor/jquery.style.swicher.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <script src="assets/js/vendor/count-down.js"></script>
    <script src="assets/js/vendor/counter-up.js"></script>
    <script src="assets/js/vendor/isotop.js"></script>
    <script src="assets/js/vendor/imageloaded.js"></script>
    <script src="assets/js/vendor/backtoTop.js"></script>
    <script src="assets/js/vendor/scrolltrigger.js"></script>
    <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
    <script src="assets/js/vendor/savePopup.js"></script>
    <!-- main JS -->
    <script src="assets/js/main.js"></script>
    <script>
      var wallet = '<%=wallet%>'
      $.post("/get-profile-info?id=<%-nft.tokenID%>", function(data) {
        $("#buy-offer-container").html(data[0]);
        $("#sell-offer-container").html(data[1]);
        $("#owner-name").html(`<h6 class = "name" style = "display: inline-block" >${data[2]}</h6>`);
        $("#owner-name").attr("href", `/profile?wallet=${data[2]}`);
        $("#profile-thumbnail-container").html(`<img src="${data[3]}" class="profile-thumbnail transition" onerror="this.src='assets/images/icons/unknown-user.png'">`)
        if (wallet){
        if (!data[4]) {
          $("#buy-offer-btn-container").html('<button type="button" class="btn btn-primary-alta mt--30" data-bs-toggle="modal" data-bs-target="#placebidModal" onclick="getCurrencyBalance()">Place an Offer</button>');
        } else if (data[4]) {
          $("#buy-offer-btn-container").html('<button type="button" class="btn btn-primary-alta mt--30" data-bs-toggle="modal" data-bs-target="#placebidModal">Place a Sell Offer</button>');
        }}
      })
      currNft = '<%=nft.tokenID%>';
      $(function () {
        $('#sell-offer-container').tooltip()
      })
    </script>

</body>

</html>