<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCM || Profile</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="template-color-1">
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>

  <%- include('sections/header.ejs') -%>

  <div class="rn-author-bg-area bg_image--9 bg_image ptb--150">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="rn-author-area mb--30 mt_dec--120">
    <div class="container">
      <div class="row padding-tb-50 align-items-center d-flex">
        <div class="col-lg-12">
          <div class="author-wrapper">
            <div class="author-inner">
              <div class="user-thumbnail">
                <img src="<%=profile_pic%>" alt="user profile image" onerror="this.src='https://www.ui-avatars.com/api/?background=random&length=3&font-size=0.33&uppercase=false&size=200&name=<%=user.wallet%>'">
              </div>
              <div class="rn-author-info-content">
                <h4 class="title"><%= user.wallet %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rn-authore-profile-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tab-wrapper-one">
            <nav class="tab-button-one">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#pane-listed-nfts" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Listed</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#pane-unlisted-nfts" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Un-Listed</button>
                <button class="nav-link" id="nav-liked-tab" data-bs-toggle="tab" data-bs-target="#pane-liked-nfts" type="button" role="tab" aria-controls="nav-liked" aria-selected="false">Liked</button>
                <button class="nav-link" id="nav-offers-tab" data-bs-toggle="tab" data-bs-target="#pane-offers" type="button" role="tab" aria-controls="nav-accountOffers" aria-selected="false">Account Offers</button>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div id="pane-listed-nfts" class="tab-pane fade active show" aria-labelledby="nav-listed-tab" role="tabpanel"><%- include ("models/nft-rows.ejs", {nfts:nfts}) %></div>
      <div id="pane-unlisted-nfts" class="tab-pane fade" aria-labelledby="nav-unlisted-tab" role="tabpanel">
        <div class="loader-content"></div>
      </div>
      <div id="pane-liked-nfts" class="tab-pane fade" aria-labelledby="nav-liked-tab" role="tabpanel">
        <%- include ("models/nft-rows.ejs", {nfts: likedNfts}) %>
      </div>
      <div id="pane-offers" class="tab-pane fade" aria-labelledby="nav-offers-tab" role="tabpanel">
        <% buyOffers.forEach(function(res){%>
        <%- include('models/buy-offers.ejs', {offer:res})%>
        <%}); %>
      </div>
    </div>
  </div>
  <!-- Modal require -->
  <%- include('sections/popup-modal.ejs') -%>



  <%- include('sections/footer.ejs') -%>

  <!-- Start Top To Bottom Area  -->
  <div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- End Top To Bottom Area  -->
  <!-- JS ============================================ -->
  <script src="assets/js/vendor/jquery.js"></script>
  <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
  <script src="assets/js/vendor/jquery-ui.js"></script>
  <script src="assets/js/vendor/modernizer.min.js"></script>
  <script src="assets/js/vendor/feather.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/sal.min.js"></script>
  <script src="assets/js/vendor/waypoint.js"></script>
  <script src="assets/js/vendor/wow.js"></script>
  <script src="assets/js/vendor/particles.js"></script>
  <script src="assets/js/vendor/jquery.style.swicher.js"></script>
  <script src="assets/js/vendor/js.cookie.js"></script>
  <script src="assets/js/vendor/count-down.js"></script>
  <script src="assets/js/vendor/counter-up.js"></script>
  <script src="assets/js/vendor/isotop.js"></script>
  <script src="assets/js/vendor/imageloaded.js"></script>
  <script src="assets/js/vendor/backtoTop.js"></script>
  <script src="assets/js/vendor/scrolltrigger.js"></script>
  <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
  <script src="assets/js/vendor/savePopup.js"></script>
  <!-- main JS -->
  <script src="assets/js/main.js"></script>

  <!-- <script>
    $("#pane-unlisted-nfts").load("<%=url%>get-account-unlisted-nfts?wallet=<%=user.wallet%>",
      function() {
        const cards = document.getElementById("pane-unlisted-nfts").querySelectorAll(".col-5");
        cards.forEach(element => {
          element.classList.add("sal-animate")
        });
      })
  </script> -->
</body>

</html>