<%const formatter = Intl.NumberFormat('en', {notation: 'compact'});%>
<% data.forEach(function(data){%>
    <tr>
        <td id="activityDate">
            <strong>
            <%=new Date(data.date).toLocaleDateString()%>
            </strong>
            <br>
            <%=new Date(data.date).toLocaleTimeString()%>
        </td>
        <td>
            <a target="_blank" href="https://bithomp.com/explorer/<%=data.txID%>" style="display: flex;">
            <%if (data.result == 'tesSUCCESS'){%>
            <i class="icon i-success" style="margin-right: 10px;"></i>
            <%}else{%>
                <i class="icon i-fail" style="margin-right: 10px;"></i>
            <%}%>
            ...<%=data.txID.slice(-5)%>
            </a>
        </td>
        <td style="display: flex;">
            <%let tType = data.transactionType%>
            <%if (tType == 'Cancel Sell Offer') {%>
                <i class="icon i-cancel-sell" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Cancel Buy Offer') {%>
                <i class="icon i-cancel-buy" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Mint NFToken') {%>
                <i class="icon i-mint-activity" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Burn NFToken') {%>
                <i class="icon i-burn" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Create Sell Offer') {%>
                <i class="icon i-sell-offer" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Create Buy Offer') {%>
                <i class="icon i-buy-offer" style="margin-right: 10px;"></i>
            <%} else if (tType == 'NFToken Brokerage') {%>
                <i class="icon i-broker" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Accept Sell Offer') {%>
                <i class="icon i-sell" style="margin-right: 10px;"></i>
            <%} else if (tType == 'Accept Buy Offer') {%>
                <i class="icon i-buy" style="margin-right: 10px;"></i>
            <%} else if (tType == 'NFT Redemption') {%>
                <i class="icon i-redeem-activity" style="margin-right: 10px;"></i>
            <%}%>
            <%=data.transactionType%>
        </td>
        <td style="cursor: pointer;" onclick="copy('<%=data.recipient%>')"><%=data.recipient ? data.recipient.slice(0, 4)+'...'+data.recipient.slice(-4) : 'undefined'%></td>
        <td><%=formatter.format(data.amount)%></td>
        <td><%=data.currency%></td>
    </tr>
<% }) %> 