<div class="offer-sliver">
  <div class="offerContainer">
    <div class="offerContent">
      <div class="Oleft">
        <h5 class="offerType buy">BUY</h5>
        <a href="https://xls20.bithomp.com/explorer/<%=offer.nftID%>" id="NFTID"><%=offer.nftID%></a>
        <div class="offer-links"><a class="btn btn-primary" href="/product-details?id=<%=offer.ntID%>">NFT</a><a class="btn btn-primary" href="https://xls20.bithomp.com/explorer/<%=offer.nftID%>">Transaction</a></div>
        <span>Offer: <span id="offerAmount"><%=offer.price%> <span id="offerToken"><%=offer.token%></span></span></span>
        <%if (offer.token != "XRP"){%>
        <span>Offer Value: <span id="offerVal"><%=offer.xrpValue%> <span>XRP</span></span></span>
        <%}%>
        </div>
        <div class="Oright">
          <span class="expired <%=offer.expired%>">Expired</span>
        <a id="offerCancel" class="offerCancel" onclick="NFTokenCancelOffer('<%=offer.index%>')">Cancel Offer</a>
      </div>
    </div>
    <a class="offerLink" href="/"></a>
  </div>
</div>