<div data-sal="slide-up" data-sal-delay="200" data-sal-duration="800" class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12">
  <a href="collection?name=<%=collection.name%>&issuer=<%=collection.issuer%>&page=0" class="rn-collection-inner-one">
      <div class="collection-wrapper">
          <div class="collection-big-thumbnail">
              <img src="<%=collection.banner_url%>" alt="Nft_Profile">
          </div>
          <div class="collenction-small-thumbnail">
            <%if (sampleImages.length != 3) {%>
              <img src="assets/images/collection/collection-place.jpg" alt="collection NFT image">
              <img src="assets/images/collection/collection-place.jpg" alt="collection NFT image">
              <img src="assets/images/collection/collection-place.jpg" alt="collection NFT image">
            <%} else { for (var i=0; i < sampleImages.length; i++) {%>
              <img src="<%=sampleImages[i].httpsImage%>" alt="collection NFT image">
            <%}}%>
        </div>
          <div class="collection-profile">
              <img src="<%=collection.logo_url%>" alt="Nft_Profile">
          </div>
          <div class="collection-deg">
              <h6 class="title nus"><%=collection.name %></h6>
              <%const formatter = Intl.NumberFormat('en', {notation: 'compact'});%>
              <span class="items"><%= formatter.format(collection.numberOfNFTs) %> Items</span>
          </div>
      </div>
  </a>
</div>