<div class="collection-card" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
  <a href="">
    <img src="<%=collection.banner_url%> " alt="" class="CC-banner">
    <div class="collection-card-content">
      <div class="CCC-logo">
        <img src="<%=collection.logo_url%>" alt="" class="CCC-icon">
      </div>
      <div class="CCC-collection-name">
        <h4 class="nus"><%=collection.name %> </h4>
      </div>
      <div class="CCC-owner">
        <p>by <a href="<%=collection.link%>" target="_blank"><%=collection.brand%></a></p>
      </div>
      <div class="CCC-description">
        <p><%= collection.description %> </p>
      </div>
      <div class="CCC-item-count">
        <p><%= collection.items %> <span>items</span></p>
      </div>
    </div>
    
  </a>
</div>