<%- include('../functions.ejs')%>
<% owner = nft.currentHolder == wallet ? true : false %>

<!-- start single product -->
<div data-sal="slide-up" data-sal-delay="150" data-sal-duration="800" class="col-5 col-lg-4 col-md-6 col-sm-6 col-12 nft-card-wrap">
  <div class="product-style-one no-overlay with-placeBid">
    <div class="card-thumbnail">
      <%var imageExt = new Set(['jpg', 'jpeg', 'png', 'gif']); var vidExt = new Set(['mp4', 'ogg', 'webm']);%>
        <% if (imageExt.has(nft.http_image.substring(nft.http_image.lastIndexOf('.') + 1))) { %>
          <img src="<%= nft.http_image%> " alt="Nft_Profile" draggable="false" loading="lazy">
        <!-- JPG/JPEG/PNG/GIF -->
        <% } else if (vidExt.has(nft.http_image.substring(nft.http_image.lastIndexOf('.') + 1))) { %>
          <video controls autoplay>
            <source src="<%= nft.http_image%>" type="video/mp4">
            <source src="<%= nft.http_image%>" type="video/webm">
            <source src="<%= nft.http_image%>" type="video/ogg">
          </video>
        <% } else {%>
          <span>file format not supported</span>
        <%};%>
      <!-- <img draggable="false" src="<%= nft.image %> " alt="NFT_portfolio" /> -->
      <a class="btn btn-primary nft-list-btn" onclick='populateListNft( {"NFTokenID": "<%=nft.NFTokenID%>" , "issuer" : "<%=nft.issuer%>" , "taxon" : "<%=nft.taxon%>" , "currentHolder" : "<%=nft.currentHolder%>", "image":"<%=nft.http_image%>" })'>List NFT</a>
    </div>
    <div class="product-share-wrapper">
      <div class="share-btn share-btn-activation dropdown">
        <button class="icon" data-bs-toggle="dropdown" aria-expanded="false">
          <svg viewBox="0 0 14 4" fill="none" width="16" height="16" class="sc-bdnxRM sc-hKFxyN hOiKLt">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 2C3.5 2.82843 2.82843 3.5 2 3.5C1.17157 3.5 0.5 2.82843 0.5 2C0.5 1.17157 1.17157 0.5 2 0.5C2.82843 0.5 3.5 1.17157 3.5 2ZM8.5 2C8.5 2.82843 7.82843 3.5 7 3.5C6.17157 3.5 5.5 2.82843 5.5 2C5.5 1.17157 6.17157 0.5 7 0.5C7.82843 0.5 8.5 1.17157 8.5 2ZM11.999 3.5C12.8274 3.5 13.499 2.82843 13.499 2C13.499 1.17157 12.8274 0.5 11.999 0.5C11.1706 0.5 10.499 1.17157 10.499 2C10.499 2.82843 11.1706 3.5 11.999 3.5Z" fill="currentColor"></path>
          </svg>
        </button>

        <div class="share-btn-setting dropdown-menu dropdown-menu-end">
          <!-- <button type="button" class="btn-setting-text share-text" data-bs-toggle="modal" data-bs-target="#shareModal">
            Share
          </button> -->
          <button type="button" class="btn-setting-text report-text" onclick="setCurrNft(this)" data-bs-toggle="modal" data-bs-target="#reportModal">
            Report
          </button>
          <input type="hidden" class="list-data">
        </div>
      </div>
    </div>
    <a href="https://xls20.bithomp.com/explorer/<%=nft.NFTokenID%>"><span class="product-name"><%= nft.name %></span></a>
    </div>
  </div>

  <!-- end single product -->