<div class="offers-slice">
  <div class="offers-wrap">
    <div class="offers-content">
      <h5><%=buyOffer.price%> <%=buyOffer.token%></h5>
      <span><%= buyOffer.account %></span>
    </div>
    <div class="offers-content">
      <% if (isOwner){%>
        <button class="btn btn-primary" onclick="NFTokenAcceptOffer('<%=buyOffer.index%>', '<%=NFToken%>')">Accept Offer</button>
      <%}%>
    </div>
  </div>
</div>