<div class="offers-slice">
  <div class="offers-wrap">
    <div class="offers-content">
      <h5><%=sellOffers.price%> <%=sellOffers.token%></h5>
      <span><%= sellOffers.account %></span>
    </div>
    <div class="offers-content">
      <% if (isOwner === false){%>
        <%if (sellOffers.destination == undefined || sellOffers.destination == wallet) {%>
        <button class="btn btn-primary" onclick="NFTokenAcceptSellOffer('<%=sellOffers.index%>', '<%=NFToken%>')">Accept Offer</button>
        <%} else if (sellOffers.destination !== wallet) {%>
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-trigger="click" title="Your account is not the destination account for this offer.">
            <button class="btn btn-primary" style="pointer-events: none;" disabled>Not Destination</button>
          </span>
        <%}%>
      <%}%>
    </div>
  </div>
</div>